.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.col {
}
.guess-me {
  width: 270px;
  height: 200px;
  margin-bottom: 10px;
}
button {
  padding: 4px;
  font-size: 18px;
  margin-bottom: 20px;
}
button + button {
  margin-left: 5px;
}

.wrong {
  color: red;
  font-size: 24px;
  text-align: center;
}
.correct {
  color: green;
  font-size: 24px;
  text-align: center;
}
